PBVR.pro.user

QtClient/QtClient.pro.user

QtClient/QtClient.user

build-*

pbvr.VC.db
.vs/
x64*/
Debug/
Release/
*.obj
*.exe
*.idb
*.pdb
*.o
*.creator.user
*.pro.user*
*.stash
*.pch
*.lib


tmp/*
glui/*
glut-3.7.6/*
glew-2.1.0/*
QtClient/*/Makefile
